*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
 background-color: hsl(0, 0%, 95%);

}
.box
{
display:grid;
grid-template-columns: 33% 33% 33%;
width:65%;
height:60%;
position:absolute;
top:20%;
left:17.5%;
}
nav
{
    display:flex;
    align-items: center;
    height:25%;
   
}
.suvs-images, .luxury-images, .sedans-images
{
    padding-left:45px;
}
.sedans
{
    background-color: hsl(31, 77%, 52%);
    color:hsla(0, 0%, 100%, 0.75);
    border-radius:20px 0px 0px 20px;
}

.title-suvs, .title-sedans, .title-luxury
{
   
   font-family: 'Big Shoulders Display'; 
   padding-bottom:12%;
   padding-left:45px;
   font-size:50px;
   letter-spacing: 2px;
}

p
{
    font-family: 'Lexend Deca';
    font-size:24px;
    height:38%;
    padding-left:45px;
    padding-right:30px;
}
.suvs
{
    background-color: hsl(184, 100%, 22%);
    color:hsla(0, 0%, 100%, 0.75);
}
.luxury
{
    background-color: hsl(179, 100%, 13%);
    color:hsla(0, 0%, 100%, 0.75);
    border-radius:0px 20px 20px 0px;
}
button{
 margin-left:45px;
 border-radius:30px;
 padding:15px 40px 15px 40px;
 text-align: center;
  text-decoration: none;
  display: inline-block;
 border:none; 
  font-size:20px;
  font-family: 'Lexend Deca';
}
button:hover
{
    cursor:pointer;
    color:white;
}
.luxury-but:hover
{
    background-color:hsl(179, 100%, 13%) ;
    border: 2px solid;
    border-color: white;
}
.sedan-but:hover
{
    background-color: hsl(31, 77%, 52%);
    border: 2px solid;
}
.suv-but:hover
{
    background-color:hsl(184, 100%, 22%) ;
    border: 2px solid;
}
.luxury-but
{
 color:hsl(179, 100%, 13%);

}
.suv-but
{
    color:hsl(184, 100%, 22%)
}
.sedan-but
{
    color:hsl(31, 77%, 52%);
}
@media (max-width:1400px)
{
    .box 
    {
        display:grid;
        grid-template-columns: none;
        width:90%;
height:95%;
position:absolute;
top:5%;
left:5%;
    }
    .luxury, .suvs, .sedans
    {
        width:100%;
        height:50vh;
     
    }
    p
{
    font-family: 'Lexend Deca';
    font-size:20px;
    height:20%;
    padding-left:70px;
    padding-right:50px;
}
button{
    margin-left:70px;
    margin-top:70px;
    border-radius:30px;
    padding:15px 40px 15px 40px;
    text-align: center;
     text-decoration: none;
     display: inline-block;
    border:none; 
     font-size:20px;
     font-family: 'Lexend Deca';
   }
   .title-suvs, .title-sedans, .title-luxury
{
   
   font-family: 'Big Shoulders Display'; 
   padding-bottom:8%;
   padding-left:70px;
   font-size:40px;
   letter-spacing: 2px;
}
.suvs-images, .luxury-images, .sedans-images
{
    padding-left:70px;
}
}
